.aboutme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/background_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 75px;
}

.about_holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.aboutme_text {
    color: white;
    width: 70%;
    margin: 0 0 0 30px;
    padding: 0 25px;
    font-size: 18px;
    text-align: justify;
    float: left;
    min-height: 50vh;
    user-select: none;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.pa_text::first-letter {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
}

.aboutme_profile_section {
    background-image: url(/images/my_profile.png);
    /* background-position: center; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 25%;
    float: right;
    padding-left: 200px;
}

.aboutme_profile {
    color: white;
    font-size: 20px;
    text-align: justify;    
}

.aboutme_buttons {
    margin-top: 2rem;
}

.about_cv {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.about_cv_hire_me {
    width: 40%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #03a9f4;
    border-radius: 50px;
    padding: 10px 15px;
    transition: all .3s ease;
    margin: 5px 10px 20px 0;
    border-left-width: 10px;
    cursor: pointer;
}

.about_cv_hire_me h6 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.about_cv_hire_me a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about_cv_hire_me:hover {
    background-color: #03a9f4;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(3, 169, 244, 0.4);
}

.dots_animation {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 390px) {
    .aboutme {
        background-position: 100px;
    }
    .aboutme_text {
        width: 100%;
        margin: 0;
        padding: 0 5px;
        font-size: 15px;
        min-height: 25rem;
    }
    .pa_text::first-letter {
        font-size: 20px;
    } 
    .aboutme_profile_section {
        min-height: 20rem;
        width: 100%; 
        padding-left: 0;
    }
    
    .about_cv {
        padding-left: 0;
        justify-content: space-between;
        flex-direction: column;
    }
    .about_cv_hire_me {
        width: 100%;
        min-height: 2rem;
        justify-content: center;
        align-items: center;
        border-left-width: 5px;
    }
    .about_cv_hire_me h6 {
        font-size: 15px;
    }
}