/* global.css */
@import "tailwindcss/tailwind.css";

/* Import Tailwind base, components, and utilities first */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding: 0px 25px 0px 25px;
  color: white;
  margin: 0;
}


.section-header {
  text-align: center;
  margin: 30px 0px 20px 0px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #fff, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-header::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background: linear-gradient(135deg, #03a9f4, #0288d1);
  margin: 1.5rem auto;
  border-radius: 2px;
}


.brand_section {
  padding-top: 80px;
}

.brand_section_a {
    padding-top: 0px;
}

@media only screen and (max-width: 390px) {
  body {
    padding: 0px 10px 0px 10px;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
  }
  .section-header {
    font-size: 35px;
    text-align: center;
    padding: 30px 0px 0px 0px;
  }
}