/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  font-family: cursive;
  position: relative;
  padding: 0px 25px 0px 25px;
  color: white;
}

.section-header{
  font-size: 60px;
  text-align: center;
  padding: 75px 0px 0px 0px;
}


*{
  scroll-behavior: smooth;
}
@media only screen and (max-width: 390px) {
  
body{
  padding: 0px 10px 0px 10px;
  width: 22rem;
  background-color: rgb(0, 0, 0);
}
.section-header{
  font-size: 35px;
  text-align: center;
  padding: 30px 0px 0px 0px;
}
}
