
.logo_animation h2 {
    font-family: "Finger Paint", sans-serif;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logo_animation h2:nth-child(1) {
    font-family: "Finger Paint", sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .logo_animation h2:nth-child(2) {
    color: #03a9f4;
    animation: logoAnimation 4s ease-in-out infinite;
  }
  
  header{
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
  }
  header:hover{
      transition: .5s ease;
    
  }
  
  @keyframes logoAnimation {
    0%, 100% {
      clip-path: polygon(
        0% 45%, 16% 44%, 33% 50%, 54% 40%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%
      );
    }
  }
  